.table {
  table-layout:fixed;
}
.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modal-body p {
    word-wrap: break-word;
}
.alert p {
    word-wrap: break-word;
}
