<div class="panel panel-default">
<table class="table       
              table-striped 
              table-condensed">
  <caption><h3> Account Details </h3></caption>
  <tbody>
    <tr>  
      <td>
        <div>
              <div ng-switch="account.type">
                    <ul class="list-unstyled"
                        ng-switch-when="regular">
                        <li>Balance: {{balance.balance.balance | currency: "S ":0}}</li>
                        <li>Wallet: {{account.wallet}}</li>
                        <li>Name: {{account.name}}</li>
                        <li>Type: {{account.type}}</li>
                        <li>Key: {{account.key}}</li>
                    </ul>
                    <ul class="list-unstyled"
                        ng-switch-when="multisig">
                        <li>Balance: {{balance.balance.balance | currency: "S ":0}}</li>
                        <li>Wallet: {{account.wallet}}</li>
                        <li>Name: {{account.name}}</li>
                        <li>Type: {{account.type}}</li>
                        <li>Required: {{account.required}} / {{account.total}} keys</li>
                        <li>Public Keys:
                            <ul>
                                <li ng-repeat="k in account.keys">{{k}}</li>
                            </ul>
                        </li>
                        
                    </ul>
                    <ul class="list-unstyled"
                        ng-switch-when="read">
                        <li>Balance: {{balance.balance.balance | currency: "S ":0}}</li>
                        <li>Name: {{account.name}}</li>
                        <li>Type: {{account.type}}</li>
                        <li>Key: {{account.key}}</li>
                        
                    </ul>
                    <ul class="list-unstyled"
                        ng-switch-when="readmultisig">
                        <li>Balance: {{balance.balance.balance | currency: "S ":0}}</li>
                        <li>Name: {{account.name}}</li>
                        <li>Type: {{account.type}}</li>
                        <li>Required: {{account.required}} / {{account.total}} keys</li>
                        <li>Keys:
                            <ul class="list-unstyled">
                                <li ng-repeat="k in account.keys">{{k}}</li>
                            </ul>
                        </li>
                        
                    </ul>
              </div>
        </div>
      </td>
    </tr>


    <tr>
      <td>
        <add-keys-form wname="{{wname}}"
                       aname="{{aname}}"
                     ng-hide="!canIAddKeys(account)">
        </add-keys-form>     
      </td>
    </tr>



  </tbody>
</table>
</div>
