<div class="panel panel-default">
<table class="table       
              table-striped 
              table-condensed">
  <caption><h3> Account List </h3></caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr> 
      <td>
      <span>
          <a ng-href="#/new-account">
            create account
          </a>
      </span>
      </td>
    </tr>
    <tr ng-repeat="a in accounts">  
      <td>
        <span> 
          <a ng-href="#/wallets/{{wallet}}/accounts/{{a.name}}">
          {{a.name}}
          </a>  
        </span>  
      </td>
      <td>
        <span> {{a.type}} </span>  
      </td>
    </tr>
  </tbody>
</table>
</div>
