<div class="panel panel-default">
<table class="table       
              table-striped 
              table-condensed">
  <caption>
    <h3> Account Details </h3> 
  </caption>
  <tbody>
    <tr>  
      <td>
        <div>
              <div ng-switch="account.type">

                    <!-- REGULAR ACCOUNT -->
                    <dl ng-switch-when="regular" class="dl-horizontal">
                      <dt>Type</dt>
                      <dd>{{account.type}}</dd>
                      <dt>Balance</dt>
                      <dd>{{balance.balance.balance / 100000.0| number:5}} mBTC</dd>
                      <dt>Public key</dt>
                      <dd>
                        <button ng-click  ="showKeyModal(account.key)"
                                type      ="button" 
                                class     ="btn btn-default btn-xs">
                                    <i class ="glyphicon glyphicon-lock"></i>
                        </button>
                      </dd>
                    </dl>

                    <!-- MULTISIGNATURE ACCOUNT -->
                    <dl ng-switch-when="multisig" class="dl-horizontal">
                      <dt>Type</dt>
                      <dd>{{account.type}}</dd>
                      <dt>Balance</dt>
                      <dd>{{balance.balance.balance / 100000.0| number:5}} mBTC</dd>
                      <dt>Required</dt>
                      <dd>{{account.required}} of {{account.total}} keys</dd>
                      <dt>Public keys</dt>
                      <dd>
                        <div class="btn-group btn-group-xs" role="group">
                              <button ng-repeat ="k in account.keys"
                                      ng-click  ="showKeyModal(k)"
                                      type      ="button" 
                                      class     ="btn btn-default">
                                      <i class ="glyphicon glyphicon-lock"></i>
                              </button>
                        </div>
                      </dd>
                    </dl>

                    <!-- READ ONLY ACCOUNT -->
                    <dl ng-switch-when="read" class="dl-horizontal">
                      <dt>Type</dt>
                      <dd>{{account.type}}</dd>
                      <dt>Balance</dt>
                      <dd>{{balance.balance.balance / 100000.0| number:5}} mBTC</dd>
                      <dt>Public key</dt>
                      <dd>
                        <button ng-click  ="showKeyModal(account.key)"
                                type      ="button" 
                                class     ="btn btn-default btn-xs">
                                    <i class ="glyphicon glyphicon-lock"></i>
                        </button>
                      </dd>
                    </dl>

                    <!-- READ ONLY MULTISIGNATURE ACCOUNT -->
                    <dl ng-switch-when="readmultisig" class="dl-horizontal">
                      <dt>Type</dt>
                      <dd>{{account.type}}</dd>
                      <dt>Balance</dt>
                      <dd>{{balance.balance.balance / 100000.0| number:5}} mBTC</dd>
                      <dt>Required</dt>
                      <dd>{{account.required}} of {{account.total}} keys</dd>
                      <dt>Public keys</dt>
                      <dd>
                        <div class="btn-group btn-group-xs" role="group">
                              <button ng-repeat ="k in account.keys"
                                      ng-click  ="showKeyModal(k)"
                                      type      ="button" 
                                      class     ="btn btn-default">
                                      <i class ="glyphicon glyphicon-lock"></i>
                              </button>
                        </div>
                      </dd>
                    </dl>

              </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>

  <div class="row">
    <div class="col-md-6">
      <form class="form-inline">
        <input type="hidden" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
        <p class="input-group">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
          <span class="form-control input-group"> {{dt | date:'dd-MMMM-yyyy' }}</span>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default" ng-click="submitRescan(dt)">Rescan</button>
          </span>
        </p>
      </form> 
    </div>
  </div> 

  <div>
    <alert ng-repeat = "alert in alerts" 
           type      = "{{alert.type}}" 
           close     = "closeAlert($index)">
           <p>{{alert.msg}}</p>
    </alert>
  </div>

  <add-keys-form wname="{{wname}}"
                 aname="{{aname}}"
                 ng-hide="!canIAddKeys(account)">
  </add-keys-form>  
