<div class="panel panel-default">
<table class="table       
              table-striped 
              table-condensed">
  <caption>
     <h3>
       Accounts
       <a class="btn btn-default pull-right" 
          ng-href="#/new-account"
          role="button">
          create account
       </a>
     </h3>
  </caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="a in accounts">  
      <td>
        <span> 
          <a ng-href="#/wallets/{{wallet}}/accounts/{{a.name}}">
          {{a.name}}
          </a>  
        </span>  
      </td>
      <td>
        <span> {{a.type}} </span>  
      </td>
    </tr>
  </tbody>
</table>
</div>
