<form role="form"
      name="addKeysForm" 
      ng-submit="submitAddKeys()" >

    <!-- Keys loop -->
    <div class="form-group">
      <button type        = "button"
              ng-click    = "addNewKey()"
              ng-disabled = "!account.total || newKeys.length+1 > account.total - account.keys.length" 
              class       = "btn btn-default" >
              Add another key 
      </button>
    </div>
    <div class          = "form-group" 
         data-ng-repeat = "(i,key) in newKeys track by $index" >
      <label ng-show="$first"> Keys </label>

      <input type        = "text"
             class       = "form-control" 
             ng-model    = "newKeys[i]" 
             name        = "" 
             placeholder = "Enter a key">
    </div>
    <!-- End Keys loop -->

    <div class="form-group">
      <button type        = "submit"
              class       = "btn btn-default" 
              ng-disabled = "addKeysForm.$invalid">
              Submit
      </button>
    </div>
</form>

<div>
  <alert ng-repeat = "alert in alerts" 
         type      = "{{alert.type}}" 
         close     = "closeAlert($index)">
         <p>{{alert.msg}}</p>
  </alert>
</div>
