<form role="form"
      name="addKeysForm" 
      ng-submit="submitAddKeys()" >

    <!-- Keys loop -->
    <div class="form-group">
      <button type        = "button"
              ng-click    = "addNewKey()"
              ng-disabled = "!account.total || newKeys.length+1 > account.total - account.keys.length" 
              class       = "btn btn-default" >
              Add another key 
      </button>
    </div>
    <div class          = "form-group" 
         data-ng-repeat = "(i,key) in newKeys track by $index" >
      <label ng-show="$first"> Keys </label>

      <input type        = "text"
             class       = "form-control" 
             ng-model    = "newKeys[i]" 
             name        = "" 
             placeholder = "Enter a key">
    </div>
    <!-- End Keys loop -->

    <div class="form-group">
      <button type        = "submit"
              class       = "btn btn-default" 
              ng-disabled = "addKeysForm.$invalid">
              Submit
      </button>
    </div>
</form>

<div>
  <alert ng-repeat = "alert in alerts" 
         type      = "{{alert.type}}" 
         close     = "closeAlert($index)">{{alert.msg}}
  </alert>
</div>
<!-- 
xpub69ZgHiGx312revDRC9rctCRiQ5fYeHDwmM8zJgnWQRf2kJukHxYdPp4aspZS9uFsYGYuZpFprxj7oeeHFgTjrg8CuWe5YRDZfmqA5ppVmXA
xpub69KnhTsmTNki7p9QJtzCNCMicbLbv8MtVi57xBiXFxw9CQoJx7JzX2yFnsCGVSZ958V2cNKYmsVrctvCfAtF7sht7BGJSbqumNX5EG1XGpc 
-->
<!-- 
1) 
xpub68pbenKo1jm4CuZV4giu7J2eMnoHT3BU8bzwyXYBqzTWd7f8x3PLDDYoFbf6UddQc1gxUqw7niZCeL4ydc8L6u27zvhtJBsVjMAixnu6hJ6
3)
xpub69ZgHiGx312revDRC9rctCRiQ5fYeHDwmM8zJgnWQRf2kJukHxYdPp4aspZS9uFsYGYuZpFprxj7oeeHFgTjrg8CuWe5YRDZfmqA5ppVmXA -->