<div class="panel panel-default">
<table class="table       
              table-striped 
              table-condensed">
  <caption><h3> Addresses </h3></caption>
  <thead>
    <tr>
      <th>Label</th>
      <th>Address</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>


            <tr ng-repeat="ad in infoPage.addresspage">  
              <td>
                    <span ng-hide="ad.address.editorEnabled">
                      <span ng-hide  ="ad.address.label"
                            ng-click ="ad.address.editorEnabled=!ad.address.editorEnabled"
                            class    ="disabled">
                            write a label
                      </span>
                      <span ng-show="ad.address.label"
                            ng-click="ad.address.editorEnabled=!ad.address.editorEnabled">
                            {{ad.address.label}}
                      </span>
                    </span>
                    <span ng-show="ad.address.editorEnabled"
                          ng-enter="submitLabel(ad.address)">
                      <input ng-model="ad.address.label" 
                             type="text"  
                             placeholder="write a label">
                      </input>
                    </span>  
              </td>
              <td>
                    <span ng-click="isCollapsed = !isCollapsed">
                            {{ad.address.address}}
                    </span>
                    <div collapse="!isCollapsed">
                      <!-- <div class="well well-lg"> -->
                        <qrcode data = {{ad.address.address|addrForQR}}
                                size = "100">
                        </qrcode>
                      <!-- </div>  -->
                    </div>
              </td> 
              <td>
                <span> {{ad.finalbalance.balance | currency: "S ":0}} </span> 
              </td>
            </tr>

  </tbody>
</table>
</div>

<div>
    <pagination total-items="totalItems"
                ng-change="getAddressesList(wname,aname)" 
                ng-model="currentPage" 
                max-size="maxSize" 
                class="pagination-sm" 
                boundary-links="true" 
                rotate="false"
                items-per-page="elemxpage" 
                num-pages="numPages">
    </pagination>
</div>