<div class="panel panel-default">
<table class="table       
              table-striped 
              table-condensed">
  <caption><h3> Send </h3></caption>
  <tbody>
    <tr>  
      <td>
        <div>
          <form role="form"
                name="sendForm" 
                ng-submit="confirmPaymentModal()">

              <div class="form-group">
                <label for="recipient"> Recipient: </label>
                <input id="recipient"
                       class="form-control" 
                       type="text" 
                       ng-model="r" 
                       required ></input>
              </div>

              <div class="form-group">
                <label for="amount"> mBTC: </label>
                <input id="amount"
                       class="form-control" 
                       type="number"
                       step="0.00001"
                       ng-model="a" 
                       required ></input>
              </div>

              <div class="form-group">
                <button type="submit"
                        class="btn btn-default" 
                        ng-disabled="sendForm.$invalid">
                        Send Payment
                </button>
              </div>

          </form>

          <div>
            <alert ng-repeat="alert in alerts" 
                   type="{{alert.type}}" 
                   close="closeAlert($index)">{{alert.msg}}
            </alert>
          </div>
      </td>
    </tr>
  </tbody>
</table>
</div>