<div class="panel panel-default">
<table class="table       
              table-striped
              table-hover 
              table-condensed">


  <caption><h3> Transactions </h3></caption>
  <thead>
    <tr>
      <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3"> Date</th>
      <th class="col-xs-5 col-sm-5 col-md-5 col-lg-5"> TxID</th>
      <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-right"> Confirmations</th>
      <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-right"> mBTC</th>
    </tr>
  </thead>
  <tbody>


            <tr ng-repeat="tx in infoPage.txpage" 
                ng-class="{ warning: isProposition(tx)}">  
              <td ng-show="isTransaction(tx)">
                <span ng-show = "tx.confirmationdate"> 
                  {{tx.confirmationdate * 1000 | date:'dd-MM-yyyy (HH:mm)'}}
                </span>  
              </td>
              <td ng-show="isProposition(tx)">
                <span ng-show = "tx.receiveddate"> 
                  {{tx.receiveddate * 1000 | date:'dd-MM-yyyy (HH:mm)'}}
                </span>  
              </td>
              <td>
                    <span ng-click="isCollapsed = !isCollapsed">
                      {{tx.txid}}
                    </span>
                    <div collapse="!isCollapsed">
                      <hr>
<!--                      <ul>
                          <li>Confidence: {{tx.confidence}} </li>
                          <li>isCoinbase: {{tx.isCoinbase}} </li>
                          <li>Confirmations: {{tx.confirmations}} </li>
                          </ul> 
-->
                      <table class="table table-striped table-condensed">

                        <caption><h4> Share: {{tx.tx}} </h4></caption>

                        <thead>
                          <tr>
                            <th>Label</th>
                            <th>Address</th>
                            <!-- <th>Local address</th> -->
                          </tr>
                        </thead>

                        <tbody>
                          <tr ng-repeat="r in tx.recipients">
                            <td> {{r.label}}   </td>
                            <td> {{r.address}} </td>
                            <!-- <td> {{r.islocal}} </td>   -->
                          </tr>
                        </tbody> 

                      </table>
                    </div>
              </td>
              <td class="text-right">
                <span ng-show="isTransaction(tx)"> {{tx.confirmations}} </span>
                <span ng-show="isProposition(tx)"> Proposition </span>
              </td> 
              <td class="text-right"> 
                <span> {{tx.value / 100000.0 | number:5}} </span> 
              </td>
            </tr>

  </tbody>
</table>
</div>

<div>
    <pagination total-items="totalItems"
                ng-change="getTransactionsList(aname, wname)" 
                ng-model="currentPage" 
                max-size="maxSize" 
                class="pagination-sm" 
                boundary-links="true" 
                rotate="false"
                items-per-page="elemxpage" 
                num-pages="numPages">
    </pagination>
</div>
