<div class="panel panel-default">
<table class="table       
              table-striped 
              table-condensed">
  <caption><h3> Transactions </h3></caption>
  <thead>
    <tr>
      <th>Date</th>
      <th>TxID</th>
      <th>Confirmations</th>
      <th>Satoshis</th>
    </tr>
  </thead>
  <tbody>


            <tr ng-repeat="tx in infoPage.txpage">  
              <td>
                <span ng-show = "tx.confirmationdate"> 
                {{tx.confirmationdate * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}} </span>  
              </td>
              <td>
                    <span ng-click="isCollapsed = !isCollapsed">
                      {{tx.txid}}
                    </span>
                    <div collapse="!isCollapsed">
                      <hr>
<!--                       <ul>
                          <li>Confidence: {{tx.confidence}} </li>
                          <li>isCoinbase: {{tx.isCoinbase}} </li>
                          <li>Confirmations: {{tx.confirmations}} </li>
                      </ul> -->
                      <table class="table table-striped table-condensed">
                        <caption><h4> Recipients </h4></caption>  
                        <thead>
                          <tr>
                            <th>Address</th>
                            <th>Label</th>
                            <th>Local address</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="r in tx.recipients">
                            <td> {{r.address}} </td>
                            <td> {{r.label}}   </td>
                            <td> {{r.islocal}} </td>  
                          </tr>
                        </tbody> 

                      </table>
                    </div>
              </td>
              <td>
                <span> {{tx.confirmations}} </span>
              </td> 
              <td> 
                <span> {{tx.value | currency: "S ":0}} </span> 
              </td>
            </tr>

  </tbody>
</table>
</div>

<div>
    <pagination total-items="totalItems"
                ng-change="getTransactionsList(aname, wname)" 
                ng-model="currentPage" 
                max-size="maxSize" 
                class="pagination-sm" 
                boundary-links="true" 
                rotate="false"
                items-per-page="elemxpage" 
                num-pages="numPages">
    </pagination>
</div>
